In [2]:
val1 = int(input("enter value1"))
val2 = int(input("enter value2"))

val3 = val1 * val2
print(val3)

enter value111
enter value222
242

In [15]:
name = input('name' )
print('my', 'name', 'is', name )

nameKEN
my name is KEN

In [11]:
value = 8
#0 reps the data stored in var value under the function str,format()
print('octal value of 8 is {0:o}'.format(value))

octal value of 8 is 10

In [13]:
num = 5895.455656
#using %.nf n for decimal  place
print('%.2f' % num)
print('%.0f' % num)

5895.46
5895

In [14]:
#create a list variable
numbers = []
#iterate request 5 times for the list size
for i in range(0, 5):
    print('enter no at yr loc', i , ":")
    #accept float no from user
    item = float(input())
    #add no received frm input
    numbers.append(item)
    
print(numbers)

enter no at yr loc 0 :
10
enter no at yr loc 1 :
23
enter no at yr loc 2 :
65
enter no at yr loc 3 :
4422
enter no at yr loc 4 :
65
[10.0, 23.0, 65.0, 4422.0, 65.0]

In [3]:
tuple1 = (10, 20, 30, 40, 50)
#reverse tuple
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [7]:
tuple2 = ("Baby", [10, 20, 30], (5, 10, 15))
#access 20,15

print(tuple2[1][1])
print(tuple2[2][2])

20
15

In [8]:
tuple1 = (50,)
print(type(tuple1))

<class 'tuple'>

In [9]:
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [11]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [15]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[-3:-1]
print(tuple2)

(44, 55)

In [16]:
tuple1 = (11, [22, 33], 44, 55)
list1 = list(tuple1)
list1[1][0] = 222
tuple2 = tuple(list1)
print(tuple2)

(11, [222, 33], 44, 55)

In [18]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key = lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [19]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [22]:
def check(t):
    return all(i == t[0] for i in t)
tuple1 = (45, 45, 45, 45)
print(type(tuple1))
print(check(tuple1))

<class 'tuple'>
True

In [26]:
numbers = (1, 2, 3, 4, 5, 6, 7, 7, 3, 4, 2, 2)
#numbers1 = str(numbers)
print(type(numbers))
unq = set(numbers)
print(unq)
#print(type(numbers1))

<class 'tuple'>
{1, 2, 3, 4, 5, 6, 7}